body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
}

.sidebar {
    margin-left: 1rem;
    position: fixed;
    flex: 0.3;
    /* width: 17%; */
    /* border-right: 1px solid rgba(0, 0, 0, 0.5); */
    height: 100vh;
    grid-column: 1/2;
}

.logo img {
    width: 20%;
    padding: 0 0 1.5rem 0;
}

.icons {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin: 1.8rem 0;
    align-items: center;
    cursor: pointer;
}

.icons ion-icon {
    font-size: 1.7rem;
}

.icons.active {
    font-weight: 900;
}

.icons ion-icon:hover {
    transform: scale(1.1);
}

.icons.last {
    margin-top: 3rem;
}


/* middle section  */
.main {
    flex: 0.4;
    grid-column: 2 / 4;
    padding: 0 1rem;
}

/* story section  */

.stories {
    height: 15vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.stories::-webkit-scrollbar {
    display: none;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    padding: 0 1rem;
}

.story img,
.user-profile img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}


/* Post Card  */
.post {
    max-width: 75%;
    margin: 1.5rem 0;
}

.topbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.topbar-left img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.post-image img {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.post-icons section {
    display: flex;
    gap: 1.5rem;
}

.post-lower p {
    margin: .3rem 0;
    font-size: .9rem;
}

.likes,
.username {
    font-weight: 700;
}

.view-comments {
    opacity: 0.5;
}

.add-comment {
    border: none;
    margin-top: 1rem;
    width: 100%;
    border-bottom: 1px solid black;
}

/* .topbar ion-icon {
    right: 0;
} */

.right {
    flex: 0.3;
    padding-right: 2rem;
}

.user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-name p {
    margin: .2rem 0;
}

.username {
    font-weight: 800;
}

.user-fullname {
    opacity: 0.5;
}

.switch {
    color: blue;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head p {
    font-weight: 700;
}

.title-suggestion {
    opacity: 0.5;
}

.suggested-user {
    display: flex;
    justify-content: space-between;
}

.user-profile.suggestion img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-link {
    text-decoration: none;
    color: #000;
}

.status {
    font-size: .8rem;
    color: gray;
}

.features p {
    display: flex;
    font-size: .9rem;
    color: gray;
}